In [5]:
import os
import pandas as pd
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [13]:
nltk.download("vader_lexicon")

/Users/brauliovillalobos/opt/anaconda3/lib/python3.8/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"
[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/brauliovillalobos/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [14]:
#Instantiating the analyzer
analyzer = SentimentIntensityAnalyzer()

#Pass tweets to vader and put 1 if positive, 0 if negative.
def vader_sentiment_result(sent):
    scores = analyzer.polarity_scores(sent)
    
    if scores["neg"] > scores["pos"]:
        return 0

    return 1

In [24]:
#Import data
tweets_1 = pd.read_csv("/Users/brauliovillalobos/Documents/Data_Science_Master_Degree_Sapienza_2021_2023/II_Semester/CLC/project/All_tweets.csv", nrows=5000)

In [25]:
tweets_1.head()

                                          Tweet_text
0  As sun and cloud give way to moon and shadow, ...
1             Down in the comfort of strangers, I...
2                Im laughing more than i should #USA
3                       No, I'm not saying I'm sorry
4                      Laugh it all off in your face

In [26]:
#Apply the vader analyzer 
tweets_1["vader_result"] = tweets_1["Tweet_text"].apply(lambda x: vader_sentiment_result(x))

In [28]:
tweets_1

                                             Tweet_text  vader_result
0     As sun and cloud give way to moon and shadow, ...             1
1                Down in the comfort of strangers, I...             1
2                   Im laughing more than i should #USA             1
3                          No, I'm not saying I'm sorry             0
4                         Laugh it all off in your face             1
...                                                 ...           ...
4995  Been Public Enemy since you thought PE was gym...             0
4996  @TheOnion The Onion, Do you really think that ...             1
4997  He put the bottle to his head and pulled the t...             0
4998  RT @IlikeBIGbuttand: Don't do the dishes #Surv...             1
4999                     I miss getting texts from you.             0

[5000 rows x 2 columns]

In [23]:
tweets[:2]

                                          Tweet_text  vader_result
0  As sun and cloud give way to moon and shadow, ...             1
1             Down in the comfort of strangers, I...             1